ALMA.pth
.codecov.yml
Dockerfile
Dockerfile_
.dockerignore
dockerize.sh
docs
examples
.flake8
.git
.gitignore
.idea
LICENSE
MANIFEST.in
mkdocs.yml
.pre-commit-config.yaml
pyproject.toml
.pytest_cache
README.md
.readthedocs.yml
setup.cfg
setup.py
tests
tox.ini
.travis.yml
venv
.vim



applications/BLDC
applications/CoggingTorqueOptimization
applications/Cooking_with_adze_modeler
applications/multi-objective-TEAM-Problem
/* applications/PowerTransformer */
applications/PowerTransformer_Short_Circuit_Model
applications/SensitivityAnalysis
applications/Team35
