pre-commit
numpy
svgpathtools
importlib-resources
pygmsh
gmsh
ezdxf
scipy
networkx
pyvista
vedo
aiofiles
jinja2
fastapi
pydantic
uvicorn
mkdocs
mkdocstrings
mkdocs-material
mkdocs-git-revision-date-plugin
